.createTodo{
    display: flex;
    align-items: center;
}

.createTodo > input{
    width: 90%;
    height: 40px;

    padding-left: 10px;

    border-right: none;
}
.createTodo > button{
    height: 46px;
    width: 15%;
    border-left: none;

    background-color: aqua;

    color: black;
    font-size: 15px;
}